extends ../layouts/default

block intro
  .container
    h1 Quiénes Somos

block content
  .container: .about-us
    .col-md-8.col-md-offset-2.text-justify
      p.heading
        strong Alergo-Pharma 
        | es la compañía farmacéutica líder en el mercado argentino especializada en el tratamiento y diagnóstico de la alergia respiratoria.
      br
      p Inició su actividad en 1993, de la mano de su fundador Julio Bielsa.
      p En sus comienzos el laboratorio estaba ubicado en la calle Bulnes, pero en 1999 mudó sus instalaciones a Jean Jaures 321, Capital Federal, domicilio actual de la empresa.
      p Al 
        strong servicio 
        | del especialista y en 
        strong beneficio 
        | del paciente alérgico, cuenta con 22 años de trayectoria y 35 empleados.
      p Con más de un millón de vacunas aplicadas en pacientes alérgicos 
        strong Alergo-Pharma 
        | reafirma el compromiso asumido desde su fundación.
      p Ofreciendo alérgenos con estándar de referencia biológico de FDA (Food and Drug Administration/CBER), brindando diagnósticos precisos y tratamientos de especificidad proteica con homogeneidad lote a lote, y asegurando la efectividad terapéutica que el tratamiento hiposensibilizante requiere.
      p El 
        strong especialista 
        | logra el éxito terapéutico.
      p El 
        strong paciente 
        | se beneficia con el único tratamiento capaz de modificar el curso de la enfermedad alérgica. Alergo-Pharma lo aporta.
