extends ../layouts/default

block content
  #home
    .banner
      .container: .banner-text
        h2= home.title
        h3= home.subtitle

    .container: .links
      .col-md-4
        div.stallergenes
          a.link.img-thumbnail(href='http://www.stallergeneslatam.com/', target='_blank', title='Stallergenes')
            img(src='/images/stallergenes.jpg')
      .col-md-4
        div.descubriendo-la-alergia
          a.link.img-thumbnail(href='http://www.descubriendolaalergia.com/', target='_blank', title='Descubriendo la Alergia')
            img(src='/images/descubriendo-la-alergia.jpg')
      .col-md-4
        div.fundaler
          a.link.img-thumbnail(href='http://www.fundaler.org.ar/', target='_blank', title='Fundaler')
            img(src='/images/fundaler.jpg')

      //- .company-description
        h3= home.description.title
        != home.description.text
