extends ../layouts/default

block content
  #home
    .banner
      .container: .banner-text
        h2 Lorem ipsum dolor sit amet
        h3 Eum ea prodesset contentiones, consul eirmod ex sit. Vix id suavitate philosophia.

    .container: .col-md-12
      .company-description
        h3 Lorem ipsum dolor sit amet, ei vis nisl tamquam contentiones
        p Lorem ipsum dolor sit amet, ei vis nisl tamquam contentiones, eu sale legere pericula eam. Sed soluta sadipscing id. Vix purto accusata id, duis verear nec ex. Eum ea prodesset contentiones, consul eirmod ex sit. Vix id suavitate philosophia. Vis ei quando persius lobortis, at delenit expetenda mei.
        p Tollit delicata eos id, vis vitae rationibus an. Ex sumo noluisse recteque sed. Accusamus neglegentur usu no, in dico similique signiferumque nam. Eam te modus utinam omnium, has in aeterno nonumes. His cu scaevola placerat delicatissimi, an quaeque aliquid probatus eum. Ius te saperet delenit.
