extends ../layouts/default

block content
  #home
    .banner
      .container: .banner-text
        h2= home.title
        h3= home.subtitle

    .container: .col-md-12
      .company-description
        h3= home.description.title
        != home.description.text
