extends ../layouts/default

block intro
  .container
    h1 Productos

block content
  .container: .products
    .col-md-12.vacunas-orales
      h3.text-muted Vacunas Orales
      .col-md-12
        .text-center
          img(src='/images/vacunas-orales.jpg')
        .text-right
          a.btn.btn-info(href='/files/recetario-stallergenes-alergopharma.pdf', target='_blank') Descargar recetario
    .col-md-12.vacunas-inyectables
      h3.text-muted Vacunas Inyectables
      .col-md-12
        .text-center
          img(src='/images/vacunas-inyectables.jpg')
        .text-right
          a.btn.btn-info(href='/files/recetario-stallergenes-alergopharma.pdf', target='_blank') Descargar recetario
    .col-md-12
      h3.text-muted Staloral
      .col-md-12
        .text-center
          img(src='/images/staloral.jpg')
        .text-right
          a.btn.btn-info(href='/files/recetario-stallergenes-alergopharma.pdf', target='_blank') Descargar recetario
