extends ../layouts/default

block content
  #respiratory-allergy
    .container.que-es-la-alergia
      .col-lg-8.col-lg-offset-2.col-md-8.col-md-offset-2.text-center
        h2 ¿Qué es la alergia?
        p.text-justify Es una respuesta anormal y excesiva del sistema inmunitario frente a una sustancia extraña para el organismo: 
          strong el alérgeno.
          br
          | Cuando un alérgeno entra en contacto con una persona alérgica, se desencadena una reacción que se manifiesta con diferentes síntomas.
    .container
      .col-md-6
        h3 Síntomas
        p Una alergia respiratoria se puede manifestar en forma de rinitis alérgica y/o de asma.
          br
          br
          strong Rinitis
          |: estornudos, obstrucción o secreción nasal, picazón en la nariz, enrojecimiento, picazón o lagrimeo de los ojos.
          br
          br
          strong Asma
          |: dificultades para respirar (opresión en el pecho, falta de aire), tos seca y sibilancias.
        div.picture.text-center
          img(src='/images/alergia-respiratoria.jpg')
      .col-md-6
        h3 Tratamiento
        p El especialista en alergia ofrecerá la o las soluciones que se adapten mejor a las necesidades del paciente.
          br
          br
          strong 1. Reducir la exposición a alérgenos
          |. Hay algunas medidas de higiene y prevención muy simples y muy útiles para limitar la exposición a los alérgenos.
          br
          br
          strong 2. Para aliviar los ataques: tratamientos sintomáticos
          |. Estas terapias, que se recetan como tratamiento de primera línea, reducen la gravedad de los síntomas en el momento en que estos se producen, aunque no “curan” la alergia.
          br
          br
          strong 3. La inmunoterapia alergénica: el único tratamiento de base
          |. La inmunoterapia alergénica es el único tratamiento para la “causa” de la alergia. Es un método de desensibilización que consiste en administrar dosis cada vez mayores de un alérgeno a un paciente sensibilizado. El objetivo es recuperar el equilibrio del sistema inmunológico para que vuelva a tener una reacción normal a los alérgenos.
          br
          br
          strong Resultados
          |: el paciente tolera dosis cada vez mayores de alérgenos; se reducen los síntomas inflamatorios; a largo plazo, disminuye la sensibilidad del paciente a otros alérgenos; se reduce el riesgo de que la alergia empeore y derive en asma.
      .col-md-12.text-center
        .descubriendo-la-alergia
          a(href="http://www.descubriendolaalergia.com", target="_blank")
            img(src='/images/descubriendo-la-alergia.jpg')
