#footer {
  margin-top: 30px;
  border-top: 1px solid @gray-lighter;
  padding-top: 30px;
  color: @gray-light;
  text-align: center;

  .phones {
    text-align: left;
    
    @media (max-width: @screen-md) {
      text-align: center;
    }
  }

  .address {
    text-align: right;

    @media (max-width: @screen-md) {
      text-align: center;
    }
  }

  .brand {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: -5px;

    svg {
      width: 120px;

      #Group {
        fill: @gray-light;
      }
    }

    @media (max-width: @screen-md) {
      margin-top: 10px;
    }
  }
}

.no-svg #footer .brand {
  background-image: url('/images/alergo-pharma-grey.png');
  background-size: 120px;
  background-repeat: no-repeat;
}
