#header {
	padding-top: 30px;
	border-bottom: 1px solid white;
	background: rgb(222, 222, 222);
	background: -webkit-linear-gradient(270deg, @ap-blue-dark 0%, @ap-blue-light 100%) rgb(222, 222, 222);
	background:    -moz-linear-gradient(270deg, @ap-blue-dark 0%, @ap-blue-light 100%) rgb(222, 222, 222);
	background:      -o-linear-gradient(270deg, @ap-blue-dark 0%, @ap-blue-light 100%) rgb(222, 222, 222);
	background:     -ms-linear-gradient(270deg, @ap-blue-dark 0%, @ap-blue-light 100%) rgb(222, 222, 222);
	background:         linear-gradient(180deg, @ap-blue-dark 0%, @ap-blue-light 100%) rgb(222, 222, 222);
	background-repeat: no-repeat;

	.navbar-default {
		background-color: transparent;
		border: none;

		.navbar-brand {
			background: url(/images/alergo-pharma.svg);
			background-size: 150px;
			background-position: 0;
			background-repeat: no-repeat;
			width: 150px;

			h1 {
				visibility: hidden;
				font-size: 20px;
				margin: 0;
			}
		}

		.navbar-nav {
			li > a {
				color: #d0d2d3;
			}

			.active > a,
			.active > a:hover,
			.active > a:focus {
				color: white;
				background-color: transparent;
				font-weight: bold;
			}
		}
	}
}
